{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
IRECIPE-Register
{% endblock %} 
{% block content %}


<div class = "container" style="margin-top: 100px;">
    <div class="row">
      <div class="col s12 m3"></div>
      <div class="col s12 m6">
          <div class="well well-lg">
            <div class="center">
               <h2>사용자 등록</h2>
            
           <form  style="margin-top: 50px;" action="/accounts/register/" method="POST">{% csrf_token %}
            {% if form.errors %}
                <p>Please try again.</p>
            {% endif %}
                <div class="input-field">
                  <label for="id_username">유저아이디</label> 
                  <input id="id_username" type="text" name="username" placeholder="아이디를 입력하세요." class="validate" required />
                </div>
                <div class="input-field">
                   <label for="id_password1">패스워드</label>
                   <input type="password" name="password1" id="id_password1" placeholder="영문과 숫자를 섞어 8자 이상 입력해주세요." class="validate" required/>
                </div>
                <div class="input-field">
                    <label for="id_password2">패스워드 확인</label>
                    <input type="password" name="password2" id="id_password2" placeholder="패스워드를 재확인 해주세요." class="validate" required />
                </div>
                 <button style=";" type="submit" class="btn btn-success teal accent-4">제출</button>
           </form>
           </div>
      </div>
      </div>
      <div class="col s12 m3"></div>
    </div>
</div>

{% endblock %}